<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <client>
      <endpoint name="tcpEP" address="net.tcp://localhost:8009/GeoService" binding="netTcpBinding" contract="App.Contracts.IGeoService" />
      <endpoint name="httpEP" address="http://localhost/GeoService" binding="basicHttpBinding" contract="App.Contracts.IGeoService" />
      <endpoint address="net.tcp://localhost:8010/MessageManager" binding="netTcpBinding" contract="App.Proxies.IMessageService" />
    </client>
  </system.serviceModel>
  
</configuration>